    /* body { 
    margin: 0;  
} */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    main {
        min-height: 100vh;
        background: linear-gradient(to right top, #65dfc9, #6cdbeb);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .app {
        background: white;
        min-height: 80vh;
        width: 60%;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 2rem;
        z-index: 2;
        backdrop-filter: blur(100rem);
        display: flex;
    }
    
    .circle1,
    .circle2 {
        background: white;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
        height: 20rem;
        width: 20rem;
        position: absolute;
        /* z-index: 0; */
        border-radius: 50%;
    }
    
    .circle1 {
        top: 5%;
        right: 15%;
        /* background-color: red; */
    }
    
    .circle2 {
        bottom: 5%;
        left: 10%;
        /* background-color: red; */
    }
    
    .users {
        width: 200px;
        /* background: white;
    min-height: 80vh;
    width: 60%; */
        /* display: flex; */
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        text-align: center;
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
        border-radius: 2rem;
    }
    
    .content {
        flex-grow: 2;
    }
    
    #form {
        background: rgba(0, 0, 0, 0.15);
        padding: 0.25rem;
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        height: 3rem;
        box-sizing: border-box;
        backdrop-filter: blur(10px);
    }
    
    #input {
        border: none;
        padding: 0 1rem;
        flex-grow: 1;
        margin: 0.25rem;
    }
    
    #form>button {
        background: #333;
        border: none;
        padding: 0 1rem;
        margin: 0.25rem;
        border-radius: 3px;
        outline: none;
        color: #fff;
    }
    
    #messages {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    #messages>li {
        padding: 0.5rem 1rem;
    }
    
    #messages>li.notif {
        padding: 0.1rem 1rem;
        color: #666666
    }
    
    #users {
        list-style-type: none;
        margin: 1rem 0rem;
        padding: 1rem 5rem;
        display: flex;
        flex-direction: column;
        font-weight: bold;
    }
    
    #users>li {
        padding: 0.2rem 0.5rem;
    }